@import "tailwindcss";

.card {
  @apply relative bg-white rounded overflow-hidden shadow-md;
}

.card:hover {
  @apply shadow-lg;
}

.badge {
  @apply bg-amber-400 text-amber-50 top-0 ml-2 mt-2 text-xs absolute uppercase rounded-full p-2;
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
}
